# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson
'.source.js':
  'describeCase':
    'prefix': 'describeCase'
    'body': """
    import showExeLog from 'utils/showExeLog.js';
    import genReadResult from 'utils/genReadResult.js';
    import genWriteResult from 'utils/genWriteResult.js';

    import jsonfile from 'jsonfile';
    import fs from 'fs';
    import beautify from 'json-beautify';

    let results;
    let writeResult;
    let readResult;

    describe('${1:3 times upgrade within 1month on plan change}', () => {
      beforeEach((client, done) => {
        try {
          results = jsonfile.readFileSync(`${__dirname}/results.json`);
          readResult = genReadResult(results);
        } catch (err) {
          fs.writeFileSync(`${__dirname}/results.json`, '{}');
          results = jsonfile.readFileSync(`${__dirname}/results.json`);
          readResult = genReadResult(results);
        }
        done();
      });

      afterEach((client, done) => {
        const resultsBeautified = beautify(results, null, 2, 80);
        fs.writeFileSync(`${__dirname}/results.json`, resultsBeautified);
        done();
      });
      after((client, done) => {
        client
          .end();
        done();
      });
      ${2}
    }); // <= end of describe('${1:3 times upgrade within 1month on plan change}'...
    """
  'describe':
    'prefix': 'describe'
    'body': """
      describe('${1:<test case description>}', () => {
        ${2}
      }); // <= end of describe('${1:<test case description>}'
    """

  'describeFirst&Recurring':
    'prefix': 'describeFirst&Recurring'
    'body': """
      describe('FRB_${1:1}', () => {
        ${2}
      }); // <= end of describe('FRB_${1:1}'
    """

  'describeBDC':
    'prefix': 'describeBDC'
    'body': """
      describe('FRB_${1:1}_BDC_${2:1}', () => {
        ${3}
      }); // <= end of describe('FRB_${1:1}_BDC_${2:1}'
    """

  'it':
    'prefix': 'it'
    'body': """
      it('step${3:1}: ${4:build an offering ver1}', (client) => {
        showExeLog('#### step${3:1}: ${4} ####')
        writeResult = genWriteResult(results, '${5:buildOfferingVer1}');
        ${7}
      }); // <= end of it('step${3:1}: ${4:build an offering ver1}'
    """

  'it_FRB_BDC':
    'prefix': 'it_FRB_BDC'
    'body': """
      it('FRB_${1:1}_BDC_${2:1}_step${3:1}: ${4:build an offering ver1}', (client) => {
        writeResult = genWriteResult(results, '${5:buildOfferingVer1}');
        ${7}
      }); // <= end of it('FRB_${1}_BDC_${2}_step${3}: ${4}'
    """

  'readResult':
    'prefix': 'readResult'
    'body': """
      const resultObj${1:1} = readResult({
        testNum: '${2:buildOfferingVer1}',
        opeName: '${3:buildOffering}',
        index: '${4:0}',
        properties: ['${5:offeringid}', '${6:orderid}', '${7:accountproductid}'],
      });
      const ${5:offeringid} = resultObj${1:1}.${5:offeringid};
      const ${6:orderid} = resultObj${1:1}.${6:orderid};
      const ${7:accountproductid} = resultObj${1:1}.${7:accountproductid};
      ${8}
    """

  'buildOffering':
    'prefix': 'buildoffering'
    'body': """
      client
        .buildOffering(
        {
          specSheetFolder: `${__dirname}/specsheets`,
          specSheetFileName: '${1:CD2_C001_ver1}.xls',
          flags: {
            allownochange: '${2:true}',
            allowvoluntarychange: '${3:true}',
            autochangeonexpiration: '${4:true}',
            prorated: '${5:true}',
            versionuponeed: '${6:true}',
            versionuponplanchange: '${7:true}',
          },
          promotions: {
            BillPercentageOFF: { // when applying no promotion, make BillPercentageOFF an empty object
              ${8:VERTEST3M}: {},
            },
            OfferingFeesWaivers: { // when applying no promotion, make OfferingFeesWaivers an empty object
              ${9:VERTEST2M}: {
                charCodeVals: [
                  { charCode: '${10:BASE}', charVal: '' },
                  { charCode: '${11:VT1USERNUM}', charVal: '${12:20}' },
                  { charCode: '${13:VT1STDDISKCAP}', charVal: '${14:100}' },
                  { charCode: '${15:VT1MEMSIZE}', charVal: '${16:2}' },
                ],
              },
            },
          },
        },
        writeResult
        );
      ${17}
    """

  'buyAccountProduct':
    'prefix': 'buyaccountproduct'
    'body': """
      client
        .buyAccountProduct(
        {
          offeringId: ${1:offeringid},
          orderParams: {
            rules: {
              ${2:VT1NAME}: '${3:tester}',
              ${4:VT1PASSWORD}: '${5:1234}',
            },
            chars: {
              ${6:VT1USERNUM}: '${7:20}',
              ${8:VT1STDDISKCAP}: '${9:100}',
              ${10:VT1MEMSIZE}: '${11:2}',
            },
            promotions: ['${12:VERTEST3M}', '${13:VERTEST2MNEW}'], // for no promotions, make this an empty array
          },
          activationDate: '${14:2015/04/05} ${15:15:00:00}',
          begEffDate: '${16:2015/04/05} ${17:15:00:00}',
        },
        writeResult
        );
      ${18}
    """

  'provisionAPFuture':
    'prefix': 'provisionapfuture'
    'body': """
      client
        .provisionAPFuture(
        {
          offeringId: ${1:offeringid},
          orderParams: {
            orderType: '${2:new}',
            accountProductId: ${3:accountproductid},
            rules: {
              ${4:VT1NAME}: '${5:tester}',
              ${6:VT1PASSWORD}: '${7:1234}',
            },
            chars: {
              ${8:VT1USERNUM}: '${9:20}',
              ${10:VT1STDDISKCAP}: '${11:100}',
              ${12:VT1MEMSIZE}: '${13:2}',
            },
            promotions: ['${14:VERTEST3M}', '${15:VERTEST2MNEW}'],
          },
          startOnDate: '${16:2015/04/02} ${17:01:00:00}',
        },
       writeResult
       );
      ${18}
    """

  'planChangeAccountProduct':
    'prefix': 'planchangeaccountproduct'
    'body': """
        client
          .planChangeAccountProduct(
          {
            offeringId: ${1:offeringid},
            accountProductId: ${2:accountproductid},
            orderParams: {
              rules: {
                ${3:VT1NAME}: '${4:tester}',
                ${5:VT1PASSWORD}: '${6:1234}',
              },
              chars: {
                ${7:VT1USERNUM}: '${8:20}',
                ${9:VT1STDDISKCAP}: '${10:100}',
                ${11:VT1MEMSIZE}: '${12:2}',
              },
              promotions: ['${13:VERTEST3M}', '${14:VERTEST2MNEW}'],
            },
            changePlanLastUpdatedDate: '${15:2015/04/05} ${16:15:00:00}',
            lastUpdatedDate: '${17:2015/04/05} ${18:15:00:00}',
          },
          writeResult
          );
        ${19}
    """
  'renewAccountProduct':
    'prefix': 'renewaccountproduct'
    'body': """
        client
          .renewAccountProduct(
          {
            accountProductId: ${1:accountproductid},
            orderId: ${2:orderid}
            renewOrderChangePlanLastUpdatedDate: '${3:2015/07/07} ${4:15:00:00}',
            renewOrderLastUpdatedDate: '${5:2015/07/07} ${6:15:00:00}',
          },
          writeResult
        );
      ${6}
    """
  'forcePush':
    'prefix': 'forcepush'
    'body': """
        client
          .forcePush(
          {
            accountProductId: accountproductid,
            orderId: orderid,
            isByHand: ${1:true}, // optional parameter, use it for APR provisioned long back
            renewOrderChangePlanLastUpdatedDate: '${2:2015/07/07 15:00:00}',
            renewOrderLastUpdatedDate: '${3:2015/07/07 15:00:00}',
          },
          writeResult
          );
        ${4}
    """
  'runBDC':
    'prefix': 'runbdc'
    'body': """
      it('running ${1:1st} BDC', (client) => {
        client
          .runBatch('BDC');
      }) // <= end of it('running ${1} BDC'
    """
